<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>时间的沙粒</title><!-- shortcut -->
    <link rel="icon" href="img/logo.ico" type="image/x-icon" />

    <!-- 自定义 -->
    <link rel="stylesheet" type="text/css" href="/index/css/index.css">

    <link rel="stylesheet" type="text/css" href="/script_plus/semantic-ui-2.4/semantic.css">
    <script src="/script_plus/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="/script_plus/semantic-ui-2.4/semantic.js"></script>
    <!-- 自定义 -->
    <script src="/index/js/index.js"></script>
</head>
<body class="pushable">

<!-- Following Menu -->
<div class="ui large top fixed menu transition hidden">
    <div class="ui container">
        <a class="active item" href="/">主页</a>
        <a class="item" href="#">小知识</a>
        <a class="item" href="#">关于我</a>
        <!--<div class="right menu">-->
            <!--<div class="item">-->
                <!--<a class="ui olive basic button" href="#">登陆</a>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<a class="ui olive button" href="#">注册</a>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class="active item" href="/">主页</a>
    <a class="item" href="#">小知识</a>
    <a class="item">关于我</a>
    <!--<a class="item">登陆</a>-->
    <!--<a class="item">注册</a>-->
</div>


<!-- Page Contents -->
<div class="pusher">

    <div class="ui secondary menu container">
        <a class="item" href="/">主页</a>
        <a class="active item" href="#">小知识</a>
        <a class="item">关于我</a>
        <!--<div class="right menu inverted">-->
            <!--<div class="ui item">-->
                <!--<a class="ui language floating dropdown link item" href="#">登陆</a>-->
            <!--</div>-->
            <!--<div class="ui item">-->
                <!--<a class="ui language floating dropdown link item" href="#">注册</a>-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui main text container">
            <h1 class="ui header ">暴雨天气注意防雷</h1>
            <p>2018-07-13 10:50</p>
            <p>我国是台风多发的国家之一，每年的夏秋季是台风高发的时期。台风来袭时，往往会伴随着狂风暴雨，而长时间暴雨不仅严重影响我们的生活，还极易导致洪涝灾害、泥石流、山体滑坡的发生，那么，遇到台风暴雨天气时应该怎么办呢?下面，小贝就为您介绍台风暴雨天气注意事项，这8大注意事项可教你如何安度台风天哦!赶紧去了解一下吧!</p>
            <img src="/news/img/by1.jpeg" class="ui medium left floated image transition visible">
            <p>台风暴雨天气注意事项</p>
            <p>1、遇到大暴雨天应该：暴雨天气减少或者直接取消所有的户外活动，暴雨天气的情况下，在户外活动是十分危险的，尤其是夏季，暴雨常常伴随着电闪雷鸣，对人会有伤害的可能性，并且可能性很大，所以遇到大暴雨天气还是尽量不去户外活动，能取消的取消，能减少的减少。</p>
            <img src="/news/img/by2.jpeg" class="ui medium right floated image transition visible">
            <p>2、台风暴雨天气不要打赤脚或穿凉鞋，雨靴最好，防雨又绝缘，预防触电。</p>
            <p>3、雷电期间，尽量关闭电器等易引雷击的设施。外出时遇打雷，不要站在树下和电线杆周围，远离危旧住房、工棚、临时建筑、脚手架、树木、广告牌、铁塔等容易造成伤亡的地点。</p>
            <p>4、遇到大暴雨天应该：如果是驾车外出或是上班的话，尽量保持缓慢的车速，不停地使用雨刷，保持安全驾驶也十分重要，当然很多人觉得在车里就很安全，其实，驾车也是存在危险的，尤其是雨天路滑，最容易发生交通事故，所以车速一定要控制好，并且安静而稳定的开车，必要的时候将车子停在安全的位置，不至于人和车都困在水中。</p>
            <img src="/news/img/by3.jpeg" class="ui medium left floated image transition visible">
            <p>5、如发现危房、积水，请及时联系相关部门。有险情时，服从有关部门指挥，安全转移。</p>
            <p>6、台风暴雨容易引发洪水，易发生洪灾地方的群众，要加强自我防范，人员及时转移到安全场所。</p>
            <p>7、遇到大暴雨天应该：走在马路上的时候，遇到水流急窜或是有漩涡的地方，尽量躲着走，多半会是地下排水系统，也即把井盖打开了，要注意不要掉进去，绕着走就可以，还可以几个人一起手拉手走，这样还可以互帮互助，避免危险的发生。</p>
            <img src="/news/img/by4.jpeg" class="ui medium right floated image transition visible">
            <p>8、山地居民要注意山体滑坡、泥石流，山区的河边、山边住户应注意排水通畅。因为大风和暴雨容易引发山体滑坡、泥石流和地面沉降等地质灾害，造成人员伤亡，一旦发现山体滑坡、泥石流等地质灾害征兆时，不要迟疑，尽早撤离危险区，并及时报告有关部门，使周围居民能及时撤离。</p>

        </div>
    </div>

    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height grid ">
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">联系我们</a>
                        <a href="#" class="item">网站计划</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Author</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">nini</a>
                        <a href="#" class="item">ruirui</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Time</h4>
                    <p>Starting from 2018.09.01 </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
