<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>时间的沙粒</title><!-- shortcut -->
    <link rel="icon" href="img/logo.ico" type="image/x-icon" />

    <!-- 自定义 -->
    <link rel="stylesheet" type="text/css" href="/index/css/index.css">

    <link rel="stylesheet" type="text/css" href="/script_plus/semantic-ui-2.4/semantic.css">
    <script src="/script_plus/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="/script_plus/semantic-ui-2.4/semantic.js"></script>
    <!-- 自定义 -->
    <script src="/index/js/index.js"></script>
</head>
<body class="pushable">

<!-- Following Menu -->
<div class="ui large top fixed menu transition hidden">
    <div class="ui container">
        <a class="active item" href="/">主页</a>
        <a class="item" href="#">小知识</a>
        <a class="item" href="#">关于我</a>
        <!--<div class="right menu">-->
            <!--<div class="item">-->
                <!--<a class="ui olive basic button" href="#">登陆</a>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<a class="ui olive button" href="#">注册</a>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class="active item" href="/">主页</a>
    <a class="item">关于我</a>
    <!--<a class="item">登陆</a>-->
    <!--<a class="item">注册</a>-->
</div>


<!-- Page Contents -->
<div class="pusher">

    <div class="ui secondary menu container">
        <a class="item" href="/">主页</a>
        <a class="active item" href="#">小知识</a>
        <a class="item">关于我</a>
        <!--<div class="right menu inverted">-->
            <!--<div class="ui item">-->
                <!--<a class="ui language floating dropdown link item" href="#">登陆</a>-->
            <!--</div>-->
            <!--<div class="ui item">-->
                <!--<a class="ui language floating dropdown link item" href="#">注册</a>-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui main text container">
            <h1 class="ui header ">佛山市南海区大沥镇发生龙卷风</h1>
            <p>2018-06-13 10:46</p>
            <img src="/news/img/ljf1.jpg" class="ui centered medium image">
            <p>6月8日下午2点05分，佛山南海区大沥发生龙卷风，2000平方米的厂房铁皮顶直接被吹翻，所幸并无人员伤亡。佛山是广东的龙卷风高发地，但这次的龙卷风有点不同，原因在于其发生的一个小时前就被佛山气象台龙卷风预测中心准确“捕捉”到，并发布了全国首个龙卷风预警信息。</p>
            <p>从2013年成立国内首个龙卷风研究中心，到今年成功预警，佛山气象台这个只有12个人的部门终于迈出了历史性的一步，对于龙卷风这种发生时间短、不稳定性高的气候现象，佛山贡献了来之不易的第一次。</p>
            <img src="/news/img/ljf2.jpg" class="ui centered medium image">
            <p>6月8日上午8点半，黄先香回到位于顺德乐从小布村内的佛山气象台时，红色暴雨信号已经挂起了近3小时，与2位值班人员交班后，她便与其他部门的值班人员一起坐在监控中心电脑前，紧盯着大屏幕上不断更新的气象数据和雷达的变化。黄先香是佛山市气象局技术总师、龙卷风研究中心首席研究员，她有预感，以4号台风“艾云尼”当前的多项检测数据，有机会带来龙卷风。</p>
            <p>从预计4号台风“艾云尼”登录广东开始，佛山市气象台就处于高戒备状态中，为进行捕捉“艾云尼”的追风行动，全局出动值班人员24小时轮值。黄先香所在的佛山龙卷风研究中心，也是如此。在红色暴雨信号下，全市托儿所、幼儿园、中小学校、中等职业学校因此全天停课，高考正常进行，多个景区封闭，部分公交线路停运、渡口停航。</p>
            <p>虽然台风“艾云尼”没有正式在佛山登陆，但是受“艾云尼”的外围环流影响，佛山降雨明显，7日8时至8日8时雨量是佛山有气象记录以来的当日最大雨量。回忆起上班时期的多处道路水浸的情况和气流方向，长期从事龙卷风研究的黄先香敏感地感受到了不同。“对比了一下环境条件，发现与有过龙卷风发生的天气记录有不少类似之处，比如低层垂直风切变比较大等情况，这种环境条件也是比较容易形成龙卷风。”</p>
            <img src="/news/img/ljf3.jpg" class="ui centered medium image">
            <p>黄先香介绍，龙卷风是一种强烈的、小范围的大气涡旋，它是在极不稳定的天气条件下，由空气强烈对流运动产生的。当升降气流之间形成很强的切变时，就会发生强烈的水平轴的涡旋，涡旋越转越快，产生一个漩涡形的上升气流，并开始向下伸展，形成龙卷风核心。当向下发展的涡旋到达地面高度时，地面气压急剧下降，风速急剧上升，形成了完整的龙卷风。</p>
            <p>“龙卷风主要发生在地势平坦开阔的地方，如南海的大沥、丹灶等地。对于城市区域，因为下垫面粗糙，摩擦力大，龙卷风很难生存，所以不容易发生龙卷风。”而佛山的地理环境，又较为容易形成龙卷风，一方面紧靠珠江出海口，另一方面北方又是丘陵地带，冷热气流在佛山交汇的同时，又由于佛山的地势平坦，高楼、高山也不多，因此容易形成龙卷风。</p>
            <p>据了解，目前对龙卷监测预警最有效的手段是多普勒天气雷达，佛山市龙卷风研究中心主要依靠全市四台小型X波段双偏振多普勒天气雷达网以及临近城市的S波段多普勒天气雷达网。当天监测的多项数据和雷达变化也证实了黄先香的猜想。中午11点过后，黄先香和研究中心等人发现雷达探测到有中气旋或龙卷涡旋特征。“这些雷达回波特征符合旋转的特征，有可能会孕育着龙卷风。”</p>
            <img src="/news/img/ljf4.jpg" class="ui centered medium image">
            <p>面对雷达探测结果，龙卷风预警发还是不发？这是一个问题。</p>
            <p>“当时压力很大。”黄先香坦言，面对探测结果，主要有两大顾虑，一是怕发出预警却没发生龙卷风；二是担心不发警报，如果龙卷风真的来访会造成大影响。“基于以往的统计，和雷达的显示结果，这次情况是超级单体偏弱，大气环不是特别吻合。”</p>
            <p>11：50  第一条预测并不准确</p>
            <p>考虑到可能造成的损失和以往的研究经验，黄先香迅速报告上级领导决策后，最后还是一致拍板决定：发。“由于时间较紧迫，当时就是编辑了一个简短的信息，然后发送给媒体及相关部门。”黄先香说。</p>
            <p>6月8日当天，全国首个龙卷风预警信息正式诞生。佛山气象部门首先于11时50分，发布了“丹灶、西樵龙卷警报”，而事实上，这次警报并未准确预测。这其实给龙卷风研究中心的监测人员带来不少压力。</p>
            <img src="/news/img/ljf5.jpg" class="ui centered medium image">
            <p>13：05  预测到大沥有风</p>
            <p>但40分钟后，在禅城的张槎、南庄以及南海大沥都出现了符合检测标准的数据，请示相关领导后，13时05分，佛山气象台又再次发布了“禅城、南海龙卷警报”。警报内容中，气象部门将可能发生龙卷风的区域具体到了镇街，并将可能发生的时间初定在了半小时以内。“最后还是选择相信数据和科学，基于监测的情况与之前的研究数据进行了充分分析，同时结合了当日天气监测的各项技术数据做出判断。”</p>
            <p>1小时后，佛山南海区大沥发生龙卷风，这次的龙卷风移动了200多米，前后不过几分钟，有市民拍到了几秒的视频，联系了媒体。媒体向佛山气象台求证时，已经是下午3点多。“我们马上开车过去取证、调查，当天晚上基本确认是龙卷风，第二天一早，我们又去了现场一次，才发布了确认消息。”</p>
        </div>
    </div>

    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height grid ">
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">联系我们</a>
                        <a href="#" class="item">网站计划</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Author</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">nini</a>
                        <a href="#" class="item">ruirui</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Time</h4>
                    <p>Starting from 2018.09.01 </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
