<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrl.modules.api.mapper.CustomerBindingInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zrl.modules.api.entity.CustomerBindingInfo">
        <result column="customer_info_id" property="customerInfoId" />
        <result column="binding_type" property="bindingType" />
        <result column="binding_state" property="bindingState" />
        <result column="binding_content" property="bindingContent" />
        <result column="insert_time" property="insertTime" />
    </resultMap>

</mapper>
